@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans HK', sans-serif;
  background: #fff;
}
section{
  min-height: 140vh;
  background: linear-gradient(to bottom, #2a4975da, #ffffffc0);
}
.slider {
  margin-bottom: 30px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: #0f4575; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0f4575, #0f4575c0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0f4575, #0f4575c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;

  height:690px;
  overflow-y: scroll;
  scrollbar-width: none;
}


.slider-card:hover{
  cursor: grab;
}
.slider-card img {
  border-radius: 5px 5px 0px 0px;
  height: 400px;
  object-fit: cover;
}
.slider-card::-webkit-scrollbar {
  display: none;
}
.slider-card p{
  padding:10px ;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
}
.size{
  margin: 20px 0;
  font-weight: 900;
  font-size: 80px;
  color: #e3a967f1;
}



.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: rgb(255, 255, 255) !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #2e7cc0 !important;
}




section#a1{
  min-height: 30vh;
  background: #263159;  /*linear-gradient(to top right, #0f45758f, #0f4575)*/
  display: flex;
  min-width:100% ;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#a1 .area{
  justify-content: center;
  align-items: center;
  display:inline-block;
  position: relative;
  margin:10px 30px 0;
  padding:20px 40px 0;
  top:40px;
  z-index: 1;
}
#a1 .area span{
  margin-bottom: 50px;
  font-size: 110px;
  display: inline-block;
  padding-left: -30px;
  font-weight: 600;
  font-family: 'Hammersmith One', sans-serif;
  color: #fff;
}
#a1 .area hr{
  padding:2px;
  background: rgb(0, 0, 0);
  width: 430px;
  position: relative;
  left:-8px;
}
@media (max-width:900px) {
#a1 .area{
  display:flex;
  position: relative;
  padding-top: 20px;
  top:-20px;
  z-index: 1;
}
#a1 .area span{
  margin-top: 25px;
   margin-bottom: 6px;
    font-size: 70px;
    display:block;
    text-align: center;

}
#a1 .area{
  padding-top: 40px;
}

}
@media (max-width:1040px){
#a1 .area{
  position: relative;
  z-index: 1;
}
} 